main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
img {
  width: 200px;
}
p{
  width: 20%;
  text-align: center;
}